{% extends 'base.html.twig' %}

{% block body_id 'projects_project_show' %}

{% block main %}
    <!-- MADE BY MACIEJ MORYŃ -->
    <h1>{{ post.title }}</h1>
    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ post.author.fullName }}</span>
    </p>
    <div style="display: flex; justify-content: center; margin-bottom: 10px;"><img style="max-width: 90%; height: auto;" src="{{ vich_uploader_asset(post,'imageFile') }}" alt="{{ post.image }}" /></div>

    {{ post.content|markdown_to_html|sanitize_html }}

    {{ include('projects/_project_tags.html.twig') }}

    <div id="post-add-comment" class="well">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(controller('App\\Controller\\ProjectController::commentForm', {'id': post.id})) }}
        {% else %}
            <p>
                <a class="btn btn-success" href="{{ path('security_login', {'redirect_to': app.request.pathInfo}) }}">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                </a>
                {{ 'project.to_publish_a_comment'|trans }}
            </p>
        {% endif %}
    </div>

    <h3>
        <i class="fa fa-comments" aria-hidden="true"></i> {{ 'project.num_comments'|trans({ 'count': post.comments|length }) }}
    </h3>

    {% for comment in post.comments %}
        <div class="row post-comment">
            <a name="comment_{{ comment.id }}"></a>
            <h4 class="col-sm-3">
                <strong>{{ comment.author.fullName }}</strong> {{ 'project.commented_on'|trans }}
                <strong>{{ comment.publishedAt|format_datetime('medium', 'short', '', 'UTC') }}</strong>
            </h4>
            <div class="col-sm-9">
                {{ comment.content|markdown_to_html|sanitize_html }}
            </div>
        </div>
    {% else %}
        <div class="post-comment">
            <p>{{ 'project.no_comments'|trans }}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}

    {% if post.projectFilesName %}
            <a class="btn btn-lg btn-block btn-info" href="{{ vich_uploader_asset(post,'projectFiles') }}" download>
                <i class="fa fa-download" aria-hidden="true"></i> {{ 'action.download'|trans }}
            </a>
    {% endif %}
    {% if is_granted('edit', post) %}
            <a class="btn btn-lg btn-block btn-success" href="{{ path('admin_project_edit', {id: post.id}) }}">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_project'|trans }}
            </a>
    {% endif %}


{% endblock %}
